
*{
    margin: 0; 
    padding: 0;
    }
html, body
{
font-family: 'Popins', sans-serif;  
}
#nav-bar
{
  position: stick;
  top: 0; 
  z-index: 10;
}
.nav-bar
{
  padding: 0 !important; 
  background-color: black !important;

}
.nav-bar-toogle{
  outline: none !important;
}

#pesquisa
{
  background-image: linear-gradient(to right #46948F, #A8D8D6 ) ;
  color: #FFF;
}
